.menu {
  position: absolute;
  top: 15px;
  right: 0;
  left: 0px;
  background-color: #fff;
  width: 80px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  padding: 2px;
}
.menuItem {
  width: 100%;
  padding: 4px;

  display: flex;
  align-items: center;
  gap: 10px;

  border: none;
  background: transparent;

  cursor: pointer;
}
